[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
pyreadstat = "*"
openpyxl = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "*"
